@model VoxTenouApp.Models.Organizer.OrganizerFormSubmitDto;
@{
}

<div class="row d-flex justify-content-center">
    <div class="col-md-6">
        <div class="card px-5 py-5">
            @using (Html.BeginForm("Edit", "Organizer",method:FormMethod.Post,new { Id = Model.Id}))
            {
                @Html.AntiForgeryToken()
                <div class="form-floating mb-3">
                    @Html.EditorFor(s=>s.organizerName,new {htmlAttributes = new {@class="form-control",@type="text",@placeholder="Organizer Name"} })
                    <label for="text">Organizer Name</label>
                </div>
                <div class="form-floating mb-3">
                    @Html.EditorFor(s=>s.imageLocation,new {htmlAttributes = new {@class="form-control",@type="text",@placeholder="Organizer Name"} })
                    <label for="text">Image</label>
                </div>
                <div class="text-center mb-3">
                    <button type="submit" value="submit" class="btn btn-primary" style="width:100%">Submit</button>
                </div>
            }
        </div>
    </div>
</div>